/* App.css */
*{
  box-sizing: border-box;
}

.app{
  width: 100vw;
  
}
.App-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  text-align: center;
}
.list-title{
  padding: 0;
  margin: 10px auto;
}
.todo-listItems {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  width: 90%;
}

.todo-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  background-color: rgb(218, 226, 234);

}

.item-content {
  flex: 1;
}

.update-item,
.delete-item {
  padding: 8px 12px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-item {
  background-color: #dc3545;
  width:80px ;
}

.update-form{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.update-new-input{
  width: 80%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
}
.update-new-btn{
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}